SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/alch_HpRkS8ZRXbfWneGaR8T3D
PRIVATE_KEY=ab98a96082657e1d1ba334b25885c2d692e6ba9061caa35ef97a984150399a85
ETHERSCAN_API_KEY=your-etherscan-api-key-here
